{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Quienes Somos{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<div id="container">
    <section>
      {% for qs in qsomos %}
        {% if qs.nombre == 'Quienes_Somos'%}
          <div>
            <img src="{{qs.imagen.url}}" alt="" style="height: 470px; width:100%" />
          </div>
          <br />
          <div class="media">
            <img class="d-flex align-self-start mr-3" src="{{qs.imagen2.url}}" style="height: 300px" alt="Generic placeholder image" />
            <div class="media-body">
              <h5 class="mt-0">Quienes somos?</h5>
              <br />
              <p style="padding-right:10px;">
                  {{qs.descripcion}}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </section>
{% endblock %}

{% block footer %} {% include 'base/footer.html' %} {% endblock %}