<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Le'Vents</title>
  <!--Boostrap link-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <!--Jquery script-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!--Boostrap script-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!--JQuery + Jquery validate-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/popup.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />

  <script src="/js/run-chileno.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".input_rut").rut();
    });
  </script>
</head>

<body>
  <div id="container">
    <section>
      <div class="header">
        <a href="/" style="display:inline-block">
          <img src="/img/logos/Logo.png" alt="Logo" id="logo" />
        </a>

        <nav class="navbar navbar-style">
          <ul class="navbar-nav mr-auto" style="color: white;">
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="/paginas/quienes-somos.html">Quienes Somos</a>
            </li>
          </ul>
          &nbsp; &nbsp; &nbsp;
          <button id="btn-abrir-popup" class="btn-abrir-popup" style="color:white;background-color:transparent;border:transparent; padding-right:10px; display:flex">
            <img src="/img/logos/user-icon.png" alt="Icono registro" height="25" />
            &nbsp;Registro
          </button>
        </nav>
      </div>
    </section>
    <section>
      <div class="contenedor-productos">
        <div class="producto">
          <img src="/img/hombres/zapatosh1.jpg" alt="zapatos1" />
          <br />&nbsp;Zapato Hombre Osaco<br />
          <h6>&nbsp;$64900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh2.jpg" alt="zapatos1" />
          <br />&nbsp;Zapatilla Hombre Gubbio<br />
          <h6>&nbsp;$64900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh3.jpg" alt="zapatos1" />
          <br />&nbsp;Botín Hombre Smith I<br />
          <h6>&nbsp;$64900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh4.jpg" alt="zapatos1" />
          <br />&nbsp;Zapatilla Hombre Kongur<br />
          <h6>&nbsp;$49900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh5.jpg" alt="zapatos1" />
          <br />&nbsp;Zapatilla Hombre Andrew<br />
          <h6>&nbsp;$19900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh6.jpg" alt="zapatos1" />
          <br />&nbsp;Zapato Hombre Philipp<br />
          <h6>&nbsp;$64900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh7.jpg" alt="zapatos1" />
          <br />&nbsp;Zapato Hombre Aren<br />
          <h6>&nbsp;$64900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh8.jpg" alt="zapatos1" />
          <br />&nbsp;Zapatilla Hombre Reims<br />
          <h6>&nbsp;$54900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh9.jpg" alt="zapatos1" />
          <br />&nbsp;Zapatilla Hombre Olaf<br />
          <h6>&nbsp;$49900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh10.jpg" alt="zapatos1" />
          <br />&nbsp;Botin Hombre Trivor<br />
          <h6>&nbsp;$59900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh11.jpg" alt="zapatos1" />
          <br />&nbsp;Zapatilla Hombre Olaf<br />
          <h6>&nbsp;$19900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
        <div class="producto">
          <img src="/img/hombres/zapatosh12.jpg" alt="zapatos1" />
          <br />&nbsp;Zapatilla Hombre Conrad<br />
          <h6>&nbsp;$36900</h6>
          <button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
        </div>
      </div>
    </section>

    <section>
      <footer class="page-footer font-small mdb-color lighten-3 pt-4">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mb-4">Le' Vents</h5>
              <p>Emilio Rojas</p>
              <p>Alvaro Riquelme</p>
              <p>Felipe Meneses</p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none" />

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mb-4">INDICE</h5>

              <ul class="list-unstyled">
                <li>
                  <p>
                    <a href="/paginas/productos-mujer.html">Calzado Mujer</a>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="/paginas/productos-hombre.html">Calzado Hombre</a>
                  </p>
                </li>
                <li>
                  <p>
                    <a href="/paginas/quienes-somos.html">Quienes Somos</a>
                  </p>
                </li>
              </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none" />

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
              <!-- Contact details -->
              <h5 class="font-weight-bold text-uppercase mb-4">CONTACTO</h5>

              <ul class="list-unstyled">
                <li>
                  <p>
                    <i class="fas fa-home mr-3"></i> Padre Alonso de Ovalle
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fas fa-envelope mr-3"></i> Levents@gmail.com
                  </p>
                </li>
                <li>
                  <p><i class="fas fa-phone mr-3"></i> +56 9 66337845</p>
                </li>
              </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none" />

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
              <h5 class="font-weight-bold text-uppercase mb-4">RRSS</h5>
              <!-- Facebook -->
              <i class="fab fa-facebook-square"></i>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          © 2019 Copyright:
          <a href="/">
            LE'VENTS.COM</a>
        </div>
        <!-- Copyright -->
      </footer>
    </section>
    <section>
      <div class="overlay" id="overlay">
        <div class="popup" id="popup">
          <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
          <h3>Registro</h3>
          <form action="#" method="get" id="formulario">
            <div class="contenedor-inputs">
              <table class="formulario">
                <tr>
                  <td><label for="txtNombre">Nombre Completo</label></td>
                  <td>
                    <input type="text" name="txtNombre" id="txtNombre" placeholder="Ingrese su nombre" />
                  </td>
                </tr>
                <tr>
                  <td><label for="txtRun">Run</label></td>
                  <td>
                    <input type="text" class="input_rut" name="txtRun" id="txtRun" placeholder="Ingrese su Run" />
                  </td>
                </tr>
                <tr>
                  <td><label for="txtEmail">Email</label></td>
                  <td>
                    <input type="text" name="txtEmail" id="txtEmail" placeholder="Ingrese su Email" />
                  </td>
                </tr>

                <tr>
                  <td>
                    <label for="txtFechaNacimiento">Fecha Nacimiento</label>
                  </td>
                  <td>
                    <input type="date" name="txtFechaNacimiento" id="txtFechaNacimiento" min="1990-01-01" max="2000-12-31" />
                  </td>
                </tr>

                <tr>
                  <td><label for="txtTelefono">Telefono Contacto</label></td>
                  <td>
                    <input type="text" name="txtTelefono" id="txtTelefono" placeholder="Ingrese Telefono" />
                  </td>
                </tr>

                <tr>
                  <td><label id="txtRegion">Región</label></td>
                  <td><select id="regiones"></select></td>
                </tr>

                <tr>
                  <td><label id="txtCiudad">Ciudad</label></td>
                  <td><select id="comunas"></select></td>
                </tr>
              </table>
            </div>
            <input type="submit" class="btn-submit" value="Registro" />
          </form>
        </div>
      </div>
    </section>
    <script src="/js/popup.js"></script>
    <script src="/js/regiones-comunas.js"></script>
    <script src="/js/validator.js"></script>
  </div>
</body>

</html>