{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>LeVents - {% block title %} Title {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Estilos-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="content">
        {% block header %}
        <!-- Carrusel -->
        {% endblock %}
        assaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        {% block content %}
        {% endblock %}

        {% block footer %}
        <!-- Pie de página -->
        <div id="footer">

        </div>
        {% endblock %}
    </div>
</body>

</html>