{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>LeVents - {% block title %} {% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Boostrap link-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--Jquery script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Boostrap script-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!--JQuery + Jquery validate-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />

    <!--Para linkear desde la carpeta de static-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" />

    <script src="{% static 'js/run-chileno.js' %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".input_rut").rut();
      });
    </script>
  </head>
  <body>
    <div class="contenedor-general">
      <section>
        <div class="header">
          <a href="/" style="display:inline-block;">
            <img src="{% static 'img/logos/Logo.png' %}" alt="Logo" id="logo" />
          </a>
          <nav class="navbar navbar-style">
            <ul class="navbar-nav mr-auto" style="color: white;">
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: white;"
                  href="/quienes-somos"
                  >Quienes Somos</a
                >
              </li>
            </ul>
            &nbsp; &nbsp; &nbsp;
            <button
              id="btn-abrir-popup"
              class="btn-abrir-popup"
              style="color:white;background-color:transparent;border:transparent; padding-right:10px; display:flex"
            >
              <img
                src="{% static 'img/logos/user-icon.png' %}"
                alt="Icono registro"
                height="25"
              />
              &nbsp;Registro
            </button>
          </nav>
        </div>
        {% block Carousel %} 
        {% endblock %}
      </section>
      {% block content %}
      
      {% endblock %}
      <section>
        <footer class="page-footer font-small mdb-color lighten-3 pt-4">
          <!-- Footer Links -->
          <div class="container text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Le' Vents</h5>
                <p>Emilio Rojas</p>
                <p>Alvaro Riquelme</p>
                <p>Felipe Meneses</p>
              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none" />

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">INDICE</h5>

                <ul class="list-unstyled">
                  <li>
                    <p>
                      <a href="/productos-mujer">Calzado Mujer</a>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="/productos-hombre">Calzado Hombre</a>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="/quienes-somos">Quienes Somos</a>
                    </p>
                  </li>
                </ul>
              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none" />

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">CONTACTO</h5>

                <ul class="list-unstyled">
                  <li>
                    <p>
                      <i class="fas fa-home mr-3"></i> Padre Alonso de Ovalle
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-envelope mr-3"></i> Levents@gmail.com
                    </p>
                  </li>
                  <li>
                    <p><i class="fas fa-phone mr-3"></i> +56 9 66337845</p>
                  </li>
                </ul>
              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none" />

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                <h5 class="font-weight-bold text-uppercase mb-4">RRSS</h5>
                <!-- Facebook -->
                <i class="fab fa-facebook-square"></i>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">
            © 2019 Copyright:
            <a href="/"> LE'VENTS.COM</a>
          </div>
          <!-- Copyright -->
        </footer>
      </section>
      <section>
        <div class="overlay" id="overlay">
          <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"
              ><i class="fas fa-times"></i
            ></a>
            <h3>Registro</h3>
            <form action="#" method="get" id="formulario">
              <div class="contenedor-inputs">
                <table class="formulario">
                  <tr>
                    <td><label for="txtNombre">Nombre Completo</label></td>
                    <td>
                      <input
                        type="text"
                        name="txtNombre"
                        id="txtNombre"
                        placeholder="Ingrese su nombre"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td><label for="txtRun">Run</label></td>
                    <td>
                      <input
                        type="text"
                        class="input_rut"
                        name="txtRun"
                        id="txtRun"
                        placeholder="Ingrese su Run"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td><label for="txtEmail">Email</label></td>
                    <td>
                      <input
                        type="text"
                        name="txtEmail"
                        id="txtEmail"
                        placeholder="Ingrese su Email"
                      />
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <label for="txtFechaNacimiento">Fecha Nacimiento</label>
                    </td>
                    <td>
                      <input
                        type="date"
                        name="txtFechaNacimiento"
                        id="txtFechaNacimiento"
                        min="1900-01-01"
                        max="2000-12-31"
                      />
                    </td>
                  </tr>

                  <tr>
                    <td><label for="txtTelefono">Telefono Contacto</label></td>
                    <td>
                      <input
                        type="text"
                        name="txtTelefono"
                        id="txtTelefono"
                        placeholder="Ingrese Telefono"
                      />
                    </td>
                  </tr>

                  <tr>
                    <td><label id="txtRegion">Región</label></td>
                    <td><select id="regiones"></select></td>
                  </tr>

                  <tr>
                    <td><label id="txtCiudad">Ciudad</label></td>
                    <td><select id="comunas"></select></td>
                  </tr>
                </table>
              </div>
              <input type="submit" class="btn-submit" value="Registro" />
            </form>
          </div>
        </div>
      </section>
      <!--Añadiendo los Js-->
      <script src="{% static 'js/popup.js' %}"></script>
      <script src="{% static 'js/regiones-comunas.js' %}"></script>
      <script src="{% static 'js/validator.js' %}"></script>
    </div>
  </body>
</html>
