{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} Eliminar {% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<form method="post" class="formulario">
	<div class="mensaje_confirmacion">
		{% csrf_token %}
		<h3>¿Desea eliminar el registro de {{ producto.nombre_producto }}?</h3>	
		<button class="btn btn-danger" type="submit">Sí, eliminar</button>
		<a class= "btn btn-default" href="/productos_listado">Cancelar</a>
	</div>
</form>
{% endblock %}

{% block footer %} {% include 'base/footer.html' %} {% endblock %}