{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %} Productos {% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<table class="table table-responsive" id="tabla_crud_productos">
	<thead>
		<tr class="linea1">
			<td>Id Producto</td>	
			<td>Nombre Producto</td>
			<td>Precio</td>
			<td>Stock</td>
			<td>Marca</td>
			<td>Categoria</td>
			<td>Tipo</td>
			<td>Opciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if productos %}
		{% for producto in productos %}
		<tr class="linea_producto">
			<td>{{ producto.id }}</td>
			<td>{{ producto.nombre_producto }}</td>
			<td>{{ producto.precio }}</td>
			<td>{{ producto.stock }}</td>
			<td>{{ producto.marca }}</td>
			<td>{{ producto.categoria }}</td>
			<td>{{ producto.tipo }}</td>
			<td>
				<a class="btn btn-primary" href="/editar/{{producto.id}}/">Editar</a>
				<a class="btn btn-danger" href="/eliminar/{{producto.id}}/">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de productos</h1>
		{% endif %}
	</tbody>
</table>
{% endblock%}

{% block footer %} {% include 'base/footer.html' %} {% endblock %}