{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Productos{% endblock %}

{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
	<section class="filtros">
		<div class="filtro_marca">
			<select style="width: 140px; margin" class="form-control" id='selectedTask' name ='selectedTask' onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
				<option selected >Escoja marca</option>
				<option value="/productos/2/">Todas</option>
				{% for m in marcas %}
					<option value="/productos/2/marcas/{{m.id_marca}}/">{{m.nombre_marca}}</option>
				{% endfor %}
			</select>
		</div>
	</section>
	
	<div class="contenedor-productos"> 
		{% for p in productos %}
			<div class="producto">
				<img src="{{p.foto.url}}" alt="{{p.nombre_producto}}" />
				<br />&nbsp;{{p.nombre_producto}}<br />
				&nbsp;{{p.marca}}
				<h6>&nbsp;{{p.precio}}</h6>
				<button class="btn-comprar">&nbsp;Comprar&nbsp;</button>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block footer %} {% include 'base/footer.html' %} {% endblock %}