{% extends 'base/base.html' %}
{% block title %} Registro {% endblock %}
{% block navbar %} {% include 'base/navbar.html' %} {% endblock %}

{% block content %}
<form method="post" class="formulario">
	{% csrf_token %}
	
	<div class="form-row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Nombre</label>
				<input class="form-control" type="text" name="first_name">
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Apellidos</label>
				<input class="form-control" type="text" name="last_name">
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Correo</label>
				<input class="form-control" type="text" name="email">
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Nombre de usuario</label>
				<input class="form-control" type="text" name="username">
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Contraseña</label>
				<input class="form-control" type="password" name="password1">
			</div>
			<div style="font-size:10px;  color:gray;">
				<p>- Su contraseña no puede asemejarse tanto a su otra información personal.</p>
				<p>- Su contraseña debe contener al menos 8 caracteres.</p>
				<p>- Su contraseña no puede ser una clave utilizada comunmente.</p>
				<p>- Su contraseña no puede ser completamente numérica.</p>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Confirmar contraseña</label>
				<input class="form-control" type="password" name="password2">
			</div>
			<div style="font-size:10px;  color:gray;">
				<p>- Introduzca la misma contraseña anterior.</p>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary "type="submit">Registrarte</button>
			</div>
		</div>
	</div>
	
</form>
{% endblock %}

{% block footer %} {% include 'base/footer.html' %} {% endblock %}