{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>LeVents - {% block title %} {% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Boostrap link-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--Jquery script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Boostrap script-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!--JQuery + Jquery validate-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />

    <!--Para linkear desde la carpeta de static-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/run-chileno.js' %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".input_rut").rut();
      });
    </script>
  </head>
  <body>
    <div class="contenedor-general">
      <section>
        <div class="header">
          {% block navbar %} {% endblock %}
        </div>
        {% block Carousel %} 
        {% endblock %}
      </section>
      {% block content %}
      
      {% endblock %}
      {% block footer %}

      {% endblock %}
      <!--Añadiendo los Js-->
      <script src="{% static 'js/regiones-comunas.js' %}"></script>
      <script src="{% static 'js/validator.js' %}"></script>
    </div>
  </body>
</html>
