{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>LeVents - {% block title %} {% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Boostrap link-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--Jquery script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Boostrap script-->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!--JQuery + Jquery validate-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />

    <!--Para linkear desde la carpeta de static-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/popup.css' %}" />

    <script src="{% static 'js/run-chileno.js' %}"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".input_rut").rut();
      });
    </script>
  </head>
  <body>
    <div class="contenedor-general">
      <section>
        <div class="header">
          <a href="/" style="display:inline-block;">
            <img src="{% static 'img/logos/Logo.png' %}" alt="Logo" id="logo" />
          </a>
          <nav class="navbar navbar-dark bg-dark navbar-minres">
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                  <li class="nav-item">
                    <a
                      class="nav-link nav-pagina button"
                      href="/quienes_somos"
                      style="padding-bottom: 1px;"
                      >Quienes Somos</a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link nav-pagina button"
                      href="/accounts/login"
                      style="padding-bottom: 1px;"
                      >Iniciar Sesión</a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link nav-pagina button"
                      href="/accounts/registrar"
                      style="padding-bottom: 1px;"
                      >Registrarse</a>
                  </li>
                </ul>
              </div>
          </nav>
          {% block navbar %} {% endblock %}
        </div>
        {% block Carousel %} 
        {% endblock %}
      </section>
      {% block content %}
      
      {% endblock %}
      <section>
        <footer class="page-footer font-small mdb-color lighten-3 pt-4">
          <!-- Footer Links -->
          <div class="container text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Le' Vents</h5>
                <p>Emilio Rojas</p>
                <p>Alvaro Riquelme</p>
                <p>Felipe Meneses</p>
              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none" />

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">INDICE</h5>

                <ul class="list-unstyled">
                  <li>
                    <p>
                      <a href="/productos/2">Calzado Mujer</a>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="/productos/1">Calzado Hombre</a>
                    </p>
                  </li>
                  <li>
                    <p>
                      <a href="/quienes_somos">Quienes Somos</a>
                    </p>
                  </li>
                </ul>
              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none" />

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">CONTACTO</h5>

                <ul class="list-unstyled">
                  <li>
                    <p>
                      <i class="fas fa-home mr-3"></i> Padre Alonso de Ovalle
                    </p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-envelope mr-3"></i> Levents@gmail.com
                    </p>
                  </li>
                  <li>
                    <p><i class="fas fa-phone mr-3"></i> +56 9 66337845</p>
                  </li>
                </ul>
              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none" />

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                <h5 class="font-weight-bold text-uppercase mb-4">RRSS</h5>
                <!-- Facebook -->
                <i class="fab fa-facebook-square"></i>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">
            © 2019 Copyright:
            <a href="/"> LE'VENTS.COM</a>
          </div>
          <!-- Copyright -->
        </footer>
      </section>
      <!--Añadiendo los Js-->
      <script src="{% static 'js/popup.js' %}"></script>
      <script src="{% static 'js/regiones-comunas.js' %}"></script>
      <script src="{% static 'js/validator.js' %}"></script>
    </div>
  </body>
</html>
