<section>
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mb-4">Creadores</h5>
            <p>Emilio Rojas</p>
            <p>Alvaro Riquelme</p>
            <p>Felipe Meneses</p>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none" />

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mb-4">INDICE</h5>

            <ul class="list-unstyled">
                <li>
                <p>
                    <a href="/productos/2">Calzado Mujer</a>
                </p>
                </li>
                <li>
                <p>
                    <a href="/productos/1">Calzado Hombre</a>
                </p>
                </li>
                <li>
                <p>
                    <a href="/quienes_somos">Quienes Somos</a>
                </p>
                </li>
            </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none" />

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
            <!-- Contact details -->
            <h5 class="font-weight-bold text-uppercase mb-4">CONTACTO</h5>

            <ul class="list-unstyled">
                <li>
                <p>
                    <i class="fas fa-home mr-3"></i> Padre Alonso de Ovalle
                </p>
                </li>
                <li>
                <p>
                    <i class="fas fa-envelope mr-3"></i>LeventsDuoc@gmail.com
                </p>
                </li>
                <li>
                <p><i class="fas fa-phone mr-3"></i> +56 9 66337845</p>
                </li>
            </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none" />

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
            <h5 class="font-weight-bold text-uppercase mb-4">RRSS</h5>
            <!-- Facebook -->
            <i class="fab fa-facebook-square"></i>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
        © 2019 Copyright:
        <a href="/"> LE'VENTS.COM</a>
        </div>
        <!-- Copyright -->
    </footer>
    </section>