{% load staticfiles %}
{% if request.user.username %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width:100%;">
    <a href="/" style="display:inline-block;">
        <img src="{% static 'img/logos/Logo.png' %}" alt="Logo" id="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <i><p class="login">Bienvenido {{request.user.first_name | title}}
                <a style ="color: white; font-size:10px;" href="/accounts/logout">(Logout)</a>
            </p> </i>
            <li class="nav-item">
                <a
                class="nav-link nav-pagina"
                href="/agregar"
                >Agregar</a>
            </li>
            <li class="nav-item">
                <a
                class="nav-link nav-pagina"
                href="/productos_listado"
                >Listar</a>
            </li>
            <li class="nav-item">
                <a
                class="nav-link nav-pagina"
                href="/quienes_somos"
                >Quienes Somos</a>
            </li>
        </ul>
    </div>
</nav>
{% endif %}