{% if request.user.username %}
<nav class="navbar navbar-dark bg-dark navbar-minres">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <p class="login">
        {{request.user.username | title}}
    </p>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto" style="color: white;">
            <li class="nav-item">
            <a
                class="nav-link nav-pagina"
                href="/agregar"
                >Agregar</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" style="color: white;">
            <li class="nav-item">
            <a
                class="nav-link nav-pagina"
                href="/productos_listado"
                >Listar</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a
                class="nav-link nav-pagina button"
                href="/quienes_somos"
                style="padding-bottom: 1px;"
                >Quienes Somos</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-dark bg-dark navbar-maxres">
    <p class="login">
        Bienvenido {{request.user.username | title}}
        <a style ="color: white; font-size:10px;" href="/accounts/logout">(Logout)</a>
    </p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ul class="navbar-nav mr-auto" style="color: white;">
        <li class="nav-item">
        <a
            class="nav-link nav-pagina"
            href="/agregar"
            >Agregar</a>
        </li>
    </ul>
    &nbsp;&nbsp;
    <h1 style="color:white; font-size:25px">
    |
    </h1>
    <ul class="navbar-nav mr-auto" style="color: white;">
        <li class="nav-item">
        <a
            class="nav-link nav-pagina"
            href="/productos_listado"
            >Listar</a>
        </li>
    </ul>
    &nbsp;&nbsp;
    <h1 style="color:white; font-size:25px">
    |
    </h1>
    <ul class="navbar-nav mr-auto" style="color: white;">
        <li class="nav-item">
        <a
            class="nav-link nav-pagina"
            href="/quienes_somos"
            >Quienes Somos</a>
        </li>
    </ul>
</nav>
{% endif %}